In [3]:
# Question 1
print('''
Twinkel,twinkel, little star,
      How I wonder what you are!
              up above the world so high,
              like a diamond in the sky.
Twinkel,twinkel, little star,
      How I wonder what you are!''')

Twinkel,twinkel, little star,
      How I wonder what you are!
              up above the world so high,
              like a diamond in the sky.
Twinkel,twinkel, little star,
      How I wonder what you are!

In [5]:
# Question 2
import sys
print(sys.version)

3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [6]:
# Question 3
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%d-%m-%Y %H:%M:%S"))

Current date and time :
31-12-2021 17:32:01

In [9]:
#Question 4
radius = float(input("Enter the radius: "))
area = 3.14*radius**2
print('Area of Circle is : ', area)

Enter the radius: 1.3
Area of Circle is :  5.3066

In [10]:
#Question 5
fname = input("Enter the First Name: ")
lname = input("Enter the Last Name: ")
print('Original name: ',fname, lname)
print('reversed name: ',lname, fname)

Enter the First Name: M.
Enter the Last Name: adil
Original name:  M. adil
reversed name:  adil M.

In [11]:
#Question 6
x = int(input('Enter first value: '))
y = int(input('Enter 2nd value: '))
z=x+y
print('Addition =',z)

Enter first value: 3
Enter 2nd value: 5
Addition = 8